.blue-capital-text {
  text-transform: uppercase;
  color: #63d1bb;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  padding: 0 30px;
}
.black-bold-text {
  text-decoration: none;
  color: #000000;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  padding: 0 30px;
}
.black-title-text {
  text-decoration: none;
  color: #000000;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  padding: 0 30px;
}
@font-face {
  font-family: 'Open Sans';
  src: url(../../fonts/opensans.woff) format('woff'), url(../../fonts/opensans.woff2) format('woff2'), url(../../fonts/opensansbold.woff) format('woff'), url(../../fonts/opensansbold.woff2) format('woff2');
}
body {
  font-size: 15px;
  line-height: 24px;
  font-style: normal;
  font-family: "@main-fonts", "Arial", sans-serif;
  color: #000000;
  background-color: #ffffff;
}
img {
  max-width: 100%;
  height: auto;
}
.about-us {
  width: 320px;
  margin: 0 auto;
}
.about-us__item {
  text-decoration: none;
  color: #000000;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  padding: 0 30px;
  line-height: auto;
}
.about-us__title {
  text-decoration: none;
  color: #000000;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  padding: 0 30px;
}
.btn {
  text-transform: uppercase;
  color: #63d1bb;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  padding: 0 30px;
  color: #000000;
  text-decoration: none;
}
.contacts {
  width: 320px;
  margin: 0 auto;
}
.contacts__address {
  line-height: 30px;
}
.form-order__title {
  text-transform: uppercase;
  color: #63d1bb;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  padding: 0 30px;
}
.hits {
  width: 320px;
  margin: 0 auto;
}
.hits__category {
  text-transform: uppercase;
  color: #63d1bb;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  padding: 0 30px;
}
.hits__price {
  text-decoration: none;
  color: #000000;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  padding: 0 30px;
}
.hits__title {
  text-decoration: none;
  color: #000000;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  padding: 0 30px;
}
.hits__description,
.hits__options {
  padding: 0 30px;
}
.item {
  padding: 0 30px;
}
.item__title a {
  text-decoration: none;
  color: #000000;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  padding: 0 30px;
}
.item__price {
  text-decoration: none;
  color: #000000;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  padding: 0 30px;
}
.knitting {
  padding: 0 30px;
  width: 320px;
  margin: 0 auto;
}
.main-catalog {
  width: 320px;
  margin: 0 auto;
}
.main-content {
  width: 320px;
  margin: 0 auto;
  height: 105px;
}
.main-content--dark {
  background-color: #63d1bb;
}
.main-content--light {
  background-color: #3cc5aa;
}
.main-content--grey {
  background-color: #f1f1f1;
}
.main-content__title {
  font-family: 'Open Sans';
  font-size: 27px;
  font-weight: bold;
  line-height: 30px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  padding: 0 30px;
}
.main-content__title--white {
  color: #ffffff;
  font-size: 19px;
  line-height: 24px;
}
.main-footer {
  width: 320px;
  margin: 0 auto;
}
.main-footer__wrapper {
  background-color: #f1f1f1;
}
.main-nav__item a {
  text-decoration: none;
  color: #000000;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  padding: 0 30px;
}
.main-banner {
  background: url(../../img/hero-mobile@1x.jpg) no-repeat #ffffff;
  background-position: top;
  height: 285px;
  width: 320px;
  margin: 0 auto;
}
.main-banner__title {
  font-family: 'Open Sans';
  font-size: 27px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
}
.map {
  height: 457px;
  background: #ffffff url("../../map-mobile@1x.jpg") no-repeat;
  background-position: center;
}
.page-header {
  width: 320px;
  margin: 0 auto;
  height: 80px;
}
.reviews {
  width: 320px;
  margin: 0 auto;
}
.reviews__text {
  line-height: 30px;
}
.video-factory {
  width: 320px;
  margin: 0 auto;
}
.video-factory__title,
.video-factory__description {
  padding: 0 30px;
}
.video-factory__video {
  width: 320px;
  margin: 0 auto;
}
