body {
  font-size: 15px;
  line-height: 24px;
  font-style: normal;
  font-family: "Open Sans", "Arial", sans-serif;

  color: #000000;
  background-color: @main-background-color;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin-top: 0;
  margin-bottom: 0;
};

p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin: 0;
};

blockquote {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin: 0;
};

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
};

/*fieldset {
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-before: 0;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
  -webkit-padding-after: 0;
}
*/
