body {
  font-size: 15px;
  line-height: 24px;
  font-style: normal;
  font-family: "@main-fonts", "Arial", sans-serif;

  color: #000000;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}
