.btn {
  display: inline-block;

  .blue-capital-text;
  color: @black-text-color;
  text-decoration: none;

  padding: 18px 95px;

  border: 2px solid @black-text-color;
  background-color: @main-background-color;


}
