.catalog-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .container();
  width: 260px;
  min-height: 372px;
  margin: 0;

  border: 1px solid @line-border-color;
};

.catalog-item:hover {
  box-shadow: 0 10px 20px -2px @text-hover-active;
};

.catalog-item:active {
  box-shadow: 0 5px 10px -2px @text-hover-active;
};

.catalog-item__img {
  display: block;
  width: 260px;
  height: 195px;
};

.catalog-item__title {
  margin-left: 30px;
  margin-top: 25px;
};

.catalog-item__title a {
  display: block;

  .black-bold-text;
};

.catalog-item:last-child .catalog-item__title {
  margin-top: 25px;
};

.catalog-item__title a:hover {
  color: @text-hover-active;
};

.catalog-item__title a:active {
  color: lighten(@text-hover-active, 30%);
};

.catalog-item__description {
  padding-top: 10px;
  padding-bottom: 16px;
  margin-left: 30px;
  margin-right: 30px;

  font-size: 13px;
  line-height: 20px;
};

.catalog-item:last-child .catalog-item__description {
  padding-bottom: 25px;

};

.catalog-item__price {
  margin: 0 30px;

  border-top: 1px solid @line-border-color;
};

.catalog-item__price a {
  position: relative;
  display: block;
  padding: 25px 0;

  text-decoration: none;
  font-weight: bold;
  color: @black-text-color;

    &::after {
      position: absolute;
      content: "";
      top: 23px;
      left: 183px;

      width: 25px;
      height: 25px;

      background: url("../img/icon-cart.svg") no-repeat;
  };
};

.catalog-item__price a:hover::after {
  background: url("../img/icon-cart-hover.svg") no-repeat;
};

.catalog-item__price a:active::after {
  opacity: (0.3);
};

.catalog-item__price a:hover {
  color: @text-hover-active;
};

.catalog-item__price a:active {
  color: lighten(@text-hover-active, 30%);
};

@media @tablet-widths {
  .catalog-item {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    width: 666px;
    height: 330px;
  };

  .catalog-item__img {
    width: 330px;
    height: 330px;
  };

  .catalog-item__title a {
    width: 220px;
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 27px;
    margin-right: 50px;

    font-size: 20px;
  };

  .catalog-item__description {
    margin: 0;
    margin-left: 27px;
    margin-bottom: 180px;

    font-size: 15px;
  };

  .catalog-item:last-child .catalog-item__description {
    margin-bottom: 155px;
  };

  .catalog-item__price {
    margin: 0;
    margin-left: 27px;
  };

  .catalog-item__price a {
    font-size: 20px;
      &::after {
        left: 250px;
    };
  };
};

@media @desktop-widths {
  .catalog-item {
    width: 315px;
    height: 656px;
  };

  .catalog-item:first-child {
    margin-left: 50px;
  };

  .catalog-item:last-child {
    margin-right: 50px;
  };

  .catalog-item__img {
    width: 315px;
    height: 462px;
  };

  .catalog-item__title a {
    margin: 0;
    margin-left: 27px;
    margin-top: 22px;

  };

  .catalog-item__description {
    margin: 0;
    margin-left: 27px;
    margin-bottom: 45px;
  };

  .catalog-item:last-child .catalog-item__description {
    margin-bottom: 21px;
  };

  .catalog-item__price {
    margin: 0;
    margin-left: 27px;
    margin-right: 27px;
    padding-top: 23px;
  };

  .catalog-item__price a {

      &::after {
        left: 240px;
    };
  };
};
