.contacts {

  .container();
  height: 895px;
  margin-top: 30px;

  border-top: 7px solid transparent;
  border-image-source: url("../img/bg-zigzag-line.svg");
  border-image-slice:  100;
  border-image-repeat: round;
};

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 820px;
  margin-top: 35px;
};

.contacts__title {
  margin: 0 30px;

  .black-title-text;
  font-size: 18px;
};

.contacts__address {
  display: block;
  width: 260px;
  margin: 0 30px;

  line-height: 30px;
};

.contacts__address tbody {
  display: block;
};

.contacts__address tr {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  vertical-align: top;
};

.contacts__address tr:first-child {
  margin-bottom: 30px;
};

.contacts__address td {
  display: block;
};

.contacts__address td:last-child {
  width: 185px;
};

.contacts__address a {
  position: relative;

  text-decoration: none;
  color: @black-text-color;

  &::before {
    position: absolute;
    content: "";
    bottom: -5px;
    right: 0;

    height: 1px;
    width: 180px;

    background-color: @blue-text-color;
  };
};

.contacts__address a:hover {
  color: @blue-text-color;
};

.contacts__address a:active {
  color: lighten(@blue-text-color, 30%);
};

.contacts__address a:active::before{
  background-color: lighten(@blue-text-color, 30%);
};

.contacts__write {
  width: 258px;
  margin: 0 30px;
  padding: 16px 0;
};


@media @tablet-widths {
  .contacts {
    height: 928px;

    border-top: 16px solid transparent;
    border-image-slice:  25;
  };

  .contacts__wrapper {
    height: 810px;
    margin-top: 65px;
  };

  .contacts__title {
    position: relative;

    margin: 0 50px;
    padding-right: 450px;

    .black-title-text-tablet;

    &::before {
      position: absolute;
      content: "";
      top: -15px;
      right: 0;

      width: 50px;
      height: 80px;

      background: url("../img/icon-flag.svg") no-repeat;
    };
  };

  .contacts__address {
    width: 668px;
    margin: 0 50px;

    font-size: 17px;
  };

  .contacts__address tbody {
    display: flex;
    justify-content:  flex-start;
  };


  .contacts__address tr:first-child {
    margin-bottom: 0;
    margin-right: 35px;
  };

  .contacts__address td:last-child {
    width: 225px;
    margin-left: 23px;
  };

  .contacts__address a {
    &::before {
      width: 205px;
    };
  };

  .contacts__write {
    margin: 0;
    margin: 0 268px;

    padding: 17px 0;
    width: 226px;
  };
};

@media @desktop-widths {
  .contacts {
    height: 640px;

    border-top: 20px solid transparent;
    border-image-slice: 25;
  };

  .contacts__wrapper {
    flex-wrap: wrap;
    justify-content: flex-start;

    align-content: flex-end;
    align-items: baseline;
    height: 640px;
    margin: 0;
  };

  .contacts__title {
    position: relative;

    margin: 0;
    margin-top: 150px;
    margin-bottom: 45px;

    margin-right: 80px;

    .black-title-text-desktop;

    &::before {
      top: -10px;
      right: 330px;
    };

    order: 1;
  };

  .contacts__address {
    display: block;
    width: 260px;
    margin: 0;
    margin-bottom: 80px;

    line-height: 30px;

    order: 2;
  };

  .contacts__address tbody {
    display: block;
    width: 340px;
  };

  .contacts__address tr {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items:  flex-start;

    vertical-align: top;
  };

  .contacts__address tr:first-child {
    margin-bottom: 30px;
  };

  .contacts__address td {
    display: block;
  };

  .contacts__address td:last-child {
    width: 224px;
  };

  .contacts__write {
    margin: 0;

    order: 3;
  };
};
