.extra-nav {
  position: relative;
  display: flex;
  flex-direction: column;
  .container();

  z-index: 100;
};

.extra-nav__block {
  &--dark {
    background-color: @block-color;
  };
};

.extra-nav__block {
  &--light {
    background-color: darken(@block-color, 10%);
  };
};

.extra-nav__block a:hover {
  padding-bottom: 33px;
  padding-top: 33px;
};

.extra-nav__block a:active {
  opacity: (0.3);
};

.extra-nav__block--dark a:hover::before {
  top: 25px;
};

.extra-nav__block a {
  position: relative;

  display: block;
  padding: 28px 0;
  padding-right: 185px;
  padding-left: 30px;

  text-align: left;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;

  color: @white-text-color;

  cursor: pointer;
};

.extra-nav__block--dark a::before {
  position: absolute;
  content: "";
  top: 20px;
  right: 10px;

  width: 65px;
  height: 65px;

  background: url("../img/icon-interior.svg") no-repeat;
};

.extra-nav__block--light a::before {
  position: absolute;
  content: "";
  right: 20px;

  width: 65px;
  height: 65px;

  background: url("../img/icon-toy.svg") no-repeat;
};

@media @tablet-widths {
  .extra-nav {
    position: relative;

    flex-direction: row;
    align-items: flex-end;
    height: 130px;
    width: 668px;

    &::before {
      position: absolute;
      content: "";
      top: 115px;
      right: -50px;

      width: 768px;
      height: 30px;

      background: url("../img/bg-zigzag-fill.svg") no-repeat;
    };
  };

  .extra-nav__block {
    width: 344px;
  };

  .extra-nav__block a:hover {
    padding-bottom: 40px;
    padding-top: 40px;
  };

  .extra-nav__block a:active {
    opacity: (0.3);
  };

  .extra-nav__block--dark a:hover::before {
    top: 35px;
  };

  .extra-nav__block a {
    padding: 35px 0;
    padding-right: 185px;
    padding-left: 35px;
  };

  .extra-nav__block--dark a::before {
    top: 30px;
    left: 260px;
  };

  .extra-nav__block--light a::before {
    right: 30px;
  };
};

@media @desktop-widths {
  .extra-nav {
    width: 1050px;

    &::before {
      top: 115px;
      right: -50px;

      width: 1150px;
      height: 30px;

      background: url("../img/bg-zigzag-fill.svg") no-repeat;
    };
  };

  .extra-nav__block {
    width: 525px;
  };

  .extra-nav__block a {
    padding: 30px 0;
    padding-right: 377px;
    padding-left: 39px;

    font-size: 20px;
    line-height: 30px;
};

.extra-nav__block a:hover {
  padding-bottom: 35px;
  padding-top: 35px;
};

.extra-nav__block a:active {
  opacity: (0.3);
};

.extra-nav__block--dark a:hover::before {
  top: 35px;
};

  .extra-nav__block--dark a::before {
    top: 30px;
    left: 450px;
  };

  .extra-nav__block--light a::before {
    right: 30px;
  };
};
