.extra-nav {
  position: relative;
  display: flex;
  flex-direction: column;

  .container();
  margin-top: 120px;

  z-index: 100;
};

.extra-nav__block {
  &--dark {
    height: 103px;
    background-color: @block-color;
  };
};

.extra-nav__block {
  &--light {
    height: 103px;
    background-color: darken(@block-color, 10%);
  };
};

.extra-nav__block:hover {
  height: 108px;

};

.extra-nav__block a:hover {
  padding-top: 33px;
};

.extra-nav__block a:active {
  opacity: (0.3);
};

.extra-nav__block--dark a:hover::before {
  top: 25px;
};

.extra-nav__block a {
  display: block;
  position: relative;

  text-align: left;

  padding: 28px 0;
  padding-right: 185px;
  padding-left: 30px;

  color: @white-text-color;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;

  text-decoration: none;

  cursor: pointer;
};

.extra-nav__block--dark a::before {
  content: "";

  position: absolute;
  top: 20px;
  right: 10px;

  width: 65px;
  height: 65px;

  background: url("../img/icon-interior.svg") no-repeat;
};

.extra-nav__block--light a::before {
  content: "";

  position: absolute;

  right: 20px;

  width: 65px;
  height: 65px;

  background: url("../img/icon-toy.svg") no-repeat;
};

@media @tablet-widths {
  .extra-nav {
    flex-direction: row;

    margin-top: 373px;
    width: 668px;
  };

  .extra-nav__block {
    width: 344px;
    height: 117px;
  };

  .extra-nav__block a {
    padding: 35px 0;
    padding-right: 185px;
    padding-left: 35px;
  };

  .extra-nav__block:hover {
    height: 122px;
  };

  .extra-nav__block a:hover {
    padding-top: 38px;
  };

  .extra-nav__block a:active {
    opacity: (0.3);
  };

  .extra-nav__block--dark a:hover::before {
    top: 35px;
  };

  .extra-nav__block--dark a::before {
    top: 30px;
    left: 260px;
  };

  .extra-nav__block--light a::before {
    right: 30px;
  };
};

@media @desktop-widths {
  .extra-nav {
    margin-top: 393px;
    width: 1050px;
  };

  .extra-nav__block {
    width: 525px;
  };

  .extra-nav__block a {
    padding: 30px 0;
    padding-right: 377px;
    padding-left: 39px;

    font-size: 20px;
    line-height: 30px;
};

  .extra-nav__block--dark a::before {
    top: 30px;
    left: 450px;
  };

  .extra-nav__block--light a::before {
    right: 30px;
  };
};
