.form-order {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  margin: 0 30px;
  margin-bottom: 52px;
};

.form-order__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
};

.form-order__order {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95px;
  margin-top: 15px;
};

.form-order__order input[type="submit"] {
  width: 258px;
  padding: 15px 0;
};

.form-order__order p {
  display: block;

  text-align: center;
  font-size: 15px;
};


@media @tablet-widths {
  .form-order {
    margin: 0;
  };

  .form-order__wrapper {
    justify-content: flex-start;
  };

  .form-order__order {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    margin: 52px;
  };

  .form-order__order input[type="submit"] {
    margin-top: 0;
    width: 230px;

    order: 1;
  };

  .form-order__order p {
    font-size: 17px;

    order: 2;
  };
};

@media @desktop-widths {

  .form-order__order {
    margin-left: 225px;
    margin-top: 85px;
    margin-bottom: 97px;
  };

  .form-order__order p {
    margin-right: 175px;
  };
};
