.form-order {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  margin: 0 30px;
  margin-bottom: 55px;
};

.form-order__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  height: 1360px;
};

.form-order__phone-email {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 192px;
};

.form-order__order {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95px;
  margin-top: 10px;
};

.form-order__order input[type="submit"] {
  width: 258px;
  padding: 16px 0;
};

.form-order__order p {
  display: block;

  text-align: center;
  font-size: 13px;
};

@media @tablet-widths {
  .form-order {
    margin-right: 50px;
    margin-left: 50px;
    height: 1420px;
  };

  .form-order__order {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
  };

  .form-order__wrapper {
    height: 1285px;
  };

  .form-order__phone-email {
    height: 117px;

  };

  .form-order__order input[type="submit"] {
    margin-top: 0;
    width: 230px;

    order: 1;
  };

  .form-order__order p {
    font-size: 17px;

    order: 2;
  };
};
