.main-catalog {
  padding: 0 30px;
};

.item {
  &__title {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
  };

  &__title a{
  .black-bold-text;
  };

  &__price {
    .black-bold-text;
  };
};

@media @tablet-widths {
  .main-catalog {
    padding: 0 50px;
  };

  .item {
    .clearfix();
    margin-bottom: 55px;

    &__img {
      display: block;
      float: left;
      width: 333px;
      height: 333px;
      border: 1px solid green;
    };

    &__title {
      float: left;
      width: 265px;
      margin-top: 30px;
      margin-left: 30px;
    };

    &__title a {
      font-size: 20px;
      padding: 0;
    };

    &__decription {
      float: left;
      width: 265px;
      margin-top: 20px;
      margin-left: 30px;

      font-size: 15px;
      line-height: 30px;
    };

    &__price {
      float: left;
      width: 265px;

      margin-top: 20px;
      margin-left: 30px;

      padding: 0;
    };
  };
};

@media @desktop-widths {
  .main-catalog {
    margin: 0;
    padding: 0;
  };

  .item {
    display: inline-block;
    width: 315px;
    height: 660px;
    margin-left: 50px;
    margin-bottom: 0;
  };
};
