.main-nav {
  position: relative;

  background-color: @main-background-color;
};

.main-nav__wrapper {
  .container();
};

.main-nav__logo-img {
  display: block;

  width: 86px;
  height: 36px;
  margin-top: 20px;
  margin-left: 115px;

  background-position: center;
};

.main-nav__logo--active:hover {
  opacity: (0.6);
};

.main-nav__logo--active:active {
  opacity: (0.3);
};

.main-nav__toggle {
  position: absolute;
  top: -20px;
  right: 0;

  display: block;
  width: 78px;
  height: 76px;

  font-size: 0;

  background-color: @main-background-color;
  border: none;

  cursor: pointer;

  z-index: 400;
};

.main-nav--closed .main-nav__toggle {
  &::before {
    position: absolute;
    content: "";
    top: 30px;
    left: 30px;

    width: 20px;
    height: 3px;

    background-color: @black-text-color;
    box-shadow: 0 6px 0 0 @black-text-color,
                0 12px 0 0 @black-text-color;
  };
};

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 38px;
    left: 30px;

    width: 20px;
    height: 3px;

    background-color: #000000;
  };

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  };

  &::after {
    transform: rotate(-45deg);
  };
};

.main-nav__list {
  width: 320px;
  margin: 0;
  margin-top: 20px;
  padding: 0;

  background-color: @main-background-color;
  list-style: none;
};

.main-nav__user-items {
  width: 320px;
  margin: 0;
  padding: 0;

  list-style: none;

  background-color: @main-background-color;
};

.main-nav__item  {
  border-top: 1px @line-border-color solid;
  border-bottom: 1px @line-border-color solid;

  &--search {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 30px;
      left: 30px;

      width: 20px;
      height: 20px;

      background: url("../img/icon-search.svg") no-repeat;
    };

    &:hover::before {
      background: url("../img/icon-search-hover.svg") no-repeat;
    };

    &:active::before {
      opacity: (0.3);
    };
  };

  &--chart {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 30px;
      left: 30px;

      width: 20px;
      height: 20px;

      background: url("../img/icon-cart.svg") no-repeat;
    };

      &:hover::before {
      background: url("../img/icon-cart-hover.svg") no-repeat;
    };

      &:active::before {
      opacity: (0.3);
    };
  };
};

.main-nav__item a {
  display: block;
  padding: 28px 0 28px 77px;

  .black-bold-text;
};

.main-nav__item a:hover {
  color: @text-hover-active;
};

.main-nav__item a:active {
  color: lighten(@text-hover-active, 30%);
};

.main-nav__stock--visually-hidden {
  display: none;
};

.main-nav__item--visually-hidden {
  display: none;
};

@media @mobile-widths-only {
  .main-nav--closed .main-nav__list {
    display: none;
  };

  .main-nav--closed .main-nav__user-items {
    display: none;
  };

  .main-nav--opened .main-nav__toggle {
    top: 0;
  };

  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    right: 20px;
    left: 0;

    height: 80vh;

    z-index: 200;
  };

  .main-nav--opened .main-nav__wrapper::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;

    width: 7px;
    height: 100%;

    z-index: 2;
  };

  .main-nav--nojs .main-nav__toggle {
    display: none;
  };

  .main-nav--nojs .main-nav__wrapper {
    position: static;

    height: auto;
  };

  .main-nav--nojs .main-nav__list {
    display: block;
  };

  .main-nav--nojs .main-nav__user-items {
    display: block;
  };
};

@media @tablet-widths {
  .main-nav__wrapper {
    position: static;

    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: flex-start;
    height: 147px;
  };

  .main-nav__logo-img {
    width: 113px;
    height: 49px;
    margin: 0;
    margin-left: 48px;
    margin-top: 20px;

    order: 1;
  };

  .main-nav__logo--active:hover {
    opacity: (0.6);
  };

  .main-nav__logo--active:active {
    opacity: (0.3);
  };

  .main-nav__toggle {
    display: none;
  };

  .main-nav__list,
  .main-nav__user-items,
  .main-nav__stock,
  .main-nav__shipping {
    position: static;

    margin: 0;

    z-index: 200;
  };

  .main-nav__item {
    display: inline-block;

    border: none;
  };

  .main-nav__shipping--visually-hidden {
    display: block;
  };

  .main-nav__list {
    width: 334px;
    margin-left: 50px;

    background-color: transparent;

    order: 3;
  };

  .main-nav__item--catalog,
  .main-nav__item--knitting {
    margin: 0;
    margin-right: 30px;
  };

 .main-nav__item--catalog a,
 .main-nav__item--knitting a {
    padding: 18px 0;

    font-size: 15px;
  };

  .main-nav__shipping {
    width: 334px;
    margin: 0;
    margin-right: 50px;
    padding: 18px 0;

    text-align: right;

    order: 4;
  };

  .main-nav__user-items {
    margin: 0;
    margin-right: 50px;
    margin-left: 105px;
    width: 347px;

    order: 2;
  };

  .main-nav__item--search {
    width: 80px;

    vertical-align: top;

    border-left: 1px solid @line-border-color;
    border-right: 1px solid @line-border-color;

    &::before {
      top: 32px;
    };
  };

  .main-nav__item--search a {
    padding: 30px 0;

    font-size: 0;
  };

  .main-nav__item--chart {
    &::before {
      top: 30px;
      right: 30px;
    };
  };

  .main-nav__item--chart a {
    padding: 30px 0 30px 78px;

    font-size: 17px;
    text-align: right;
  };

  .main-nav__stock--visually-hidden {
    display: none;
  };
};

@media @desktop-widths {
  .main-nav__logo {
    order: 2;
  };

  .main-nav__logo-img {
    width: 150px;
    height: 73px;
    margin: 0;
    margin-top: 7px;
    margin-left: 0;
  };

  .main-nav__list {
    width: 415px;

    order: 1;
  };

  .main-nav__user-items {
    margin-left: 70px;
    order: 3;
  };

  .main-nav__item--catalog {
    margin: 0;
  };

  .main-nav__item--knitting a {
    margin-left: 32px;
  };

  .main-nav__item--catalog a,
  .main-nav__item--knitting a {
    padding: 30px 0;

    font-size: 17px;
  };

  .main-nav__item--catalog a {
    margin: 0;
    padding-right: 35px;

    border-right: 1px solid @line-border-color;
  };


  .main-nav__stock {
    width: 370px;
    padding: 0;
    margin-left: 50px;

    order: 4;
  };

  .main-nav__stock a {
    display: block;
    padding: 18px 55px 18px 0;

    font-size: 15px;
  };

  .main-nav__stock--visually-hidden {
    display: block;
  };

  .main-nav__shipping {
    order: 5;
  };
};
