.main-content {
  .container();
  position: relative;

  &--dark {
    background-color: @block-color;
  };

  &--light {
    background-color: darken(@block-color, 10%);
  };
};

.main-content__title {
  display: inline-block;

  padding: 30px 0;
  padding-right: 185px;
  padding-left: 30px;


  font-family: @main-fonts;
  font-size: 27px;
  font-weight: bold;
  line-height: 30px;

  color: @black-text-color;
  text-decoration: none;

  cursor: pointer;

  &--lamp,
  &--cube {
    color: @white-text-color;
    font-size: 19px;
    line-height: 24px;
  };

  &--lamp::before {
    content: "";

    position: absolute;
    top: 25px;
    right: 0;

    width: 65px;
    height: 65px;

    background: url("../../img/icon-interior.svg") no-repeat;
  };

  &--cube::before {
    content: "";

    position: absolute;

    right: 10px;

    width: 65px;
    height: 65px;

    background: url("../../img/icon-toy.svg") no-repeat;
  };
};

@media @tablet-widths {
  .main-content {
    margin-top: -118px;
  };

  .main-content--light {
    float: right;

    margin-right: 50px;
    width: 334px;
    height: 118px;
  };

  .main-content--dark {
    float: left;

    margin-left: 50px;
    width: 334px;
    height: 118px;
  };

  .main-content__title {
    padding: 30px 0;
    padding-right: 165px;
    padding-left: 36px;


    &--lamp,
    &--cube {
      color: @white-text-color;
      font-size: 20px;
      line-height: 30px;
    };

    &--lamp::before {
      content: "";

      position: absolute;
      top: 30px;
      left: 310px;

      width: 65px;
      height: 65px;

      background: url("../../img/icon-interior.svg") no-repeat;
    };

    &--cube::before {
      content: "";

      position: absolute;

      right: 80px;

      width: 65px;
      height: 65px;

      background: url("../../img/icon-toy.svg") no-repeat;
    };
  };
};

@media @desktop-widths {
  .main-content {
    width: 1050px;
  };

  .main-content--light, .main-content--dark {
    width: 525px;
  };

};
