.main-catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  .container();
  margin-top: 30px;
  height: 1205px;
};

@media @tablet-widths {
  .main-catalog {
    margin-top: 65px;
    height: 1110px;
  };
};

@media @desktop-widths {
  .main-catalog {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 95px;
    height: 658px;
  };
};
