.map {
  height: 457px;
  margin-top: 38px;

  background: url("../img/map-mobile@1x.jpg") no-repeat;
  background-position: center;
};

.map__online {
  border: none;
};

@media @tablet-widths  {
  .map {
    margin-top: 58px;

    background: url("../img/map-tablet@1x.jpg") no-repeat;
  };
};

@media @desktop-widths  {
  .map {
    width: 525px;

    margin-top: 80px;


    background: url("../img/map-desktop@1x.jpg") no-repeat;

    order: 4;
  };
};
