.page-header {
  .container();
  background-color: @main-background-color;
};

.page-header__logo {
  display: block;
  border-bottom: 1px @line-border-color solid;
  min-height: 78px;

};

.page-header__logo img {
  width: 86px;
  height: 78px;
  margin-left: 115px;
};


@media @tablet-widths {
  .page-header {
    .container();


    min-height: 88px;
  };

  .page-header__logo {

  }
};

@media @desktop-widths {
  .page-header__logo {
    position: absolute;
    right: auto;
    width: 100%;
  }
}
