.page-footer__wrapper {
  .container();
  min-height: 160px;
  background-color: @extra-backgroung-color;
};

.page-footer__logo--visually-hidden {
  display: none;
};

.page-footer__social-links, .page-footer__copyright {
  margin: 0 30px;
  min-height: 80px;
};

.page-footer__social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
};

.page-footer__social-links a {
  display: block;

  width: 25px;
  height: 30px;
  margin-top: 10px;

  font-size: 0;

  &:nth-child(2) {
    margin-left: 40px;
    margin-right: 25px;
    margin-top: 5px;
  };
};

.page-footer__icon:hover {
  fill: @blue-text-color;
};

.page-footer__icon:active {
  opacity: (0.3);
};

.page-footer__copyright {
  border-top: 1px solid @line-border-color;
};

.page-footer__copyright a {
  position: relative;
  display: block;

  margin: 0 39px;
  margin-top: 22px;
  padding: 8px 0;
  padding-right: 39px;

  font-size: 18px;
  line-height: 19px;
  text-decoration: none;
  font-weight: bold;
  color: @black-text-color;

  &::after {
    position: absolute;

    right:0;
    top: 0;

    content: "";

    width: 27px;
    height: 34px;

    background: url("../img/logo-htmlacademy.svg") no-repeat;
  };
};

.page-footer__copyright a:active {
  opacity: (0.3);
};

@media @tablet-widths {
  .page-footer__wrapper {
    min-height: 145px;
    .clearfix();
  };
  .page-footer__logo--visually-hidden {
    display: block;
    visibility: visible;
  };

  .page-footer__logo {
    float: left;
    width: auto;
    margin-left: 50px;
    margin-top: 60px;
  };

  .page-footer__logo-mishka:hover {
    fill: @blue-text-color;
  };

  .page-footer__logo-mishka:active {
    opacity: (0.3);
  };

  .page-footer__social-links {
    float: left;
    min-height: auto;
    margin-left: 155px;
    margin-top: 60px;
  };

  .page-footer__copyright {
    float: right;
    width: 185px;

    min-height: auto;
    margin-top: 60px;
    margin-right: 50px;
    border: none;
  };

  .page-footer__copyright a {
    margin: 0;
    padding-right: ;
  };
};

@media @desktop-widths {
  .page-footer__social-links {
    margin-left: 340px;
  };
};
