.reviews {
  .container();
};

.reviews__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 600px;

  background: none;
};

.reviews__item {
  padding: 0 30px;
  line-height: 30px;
};

.reviews__title {
  margin: 0 30px;
  padding-right: 10px;

  .black-title-text;
};

.reviews__auhor-name {
  margin-left: 30px;
  margin-top: 25px;

  font-size: 18px;
};

.reviews__write {
  width: 256px;
  padding: 17px 0;
  text-align: center;

  margin: 0 30px;
  margin-bottom: 30px;
};

@media @tablet-widths {
  .reviews {
    height: 575px;
  };

  .reviews__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    align-items: baseline;

    height: 459px;
    margin: 0;

    background: url("../img/review@1x.jpg") no-repeat @main-background-color;
    background-position: left;
    background-size: contain;

    @media (min-width: 768px) {
      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background: url("../img/review@2x.jpg") no-repeat @main-background-color;
        background-position: left;
        background-size: contain;
      };
    };
  };

  .reviews__title {
    margin: 0;
    margin-left: 50px;
    margin-top: 40px;

    .black-title-text-tablet;

    order: 1;
  };

  .reviews__item {
    width: 660px;
    padding: 0;
    margin-left: 50px;
    margin-right: 80px;
    font-size: 17px;

    order: 3;
  };

  .reviews__write {
    width: 171px;

    margin: 0;
    margin-right: 50px;

    order: 2;
  };

  .reviews__auhor-name {
    margin: 0;
    margin-left: 50px;
    margin-bottom: 20px;

    font-size: 17px;

    order: 4;
  };
};

@media @desktop-widths {
  .reviews {
    height: 575px;
  };

  .reviews__wrapper {
    margin: 0 50px;
  };

  .reviews__title {
    margin: 0;
    margin-left: 175px;
    margin-top: 40px;

    .black-title-text-tablet;

    order: 1;
  };

  .reviews__item {
    width: 770px;
    padding: 0;
    margin-left: 175px;
    margin-right: 80px;
    font-size: 17px;

    order: 3;
  };

  .reviews__write {
    width: 171px;

    margin: 0;
    margin-right: 175px;

    order: 2;
  };

  .reviews__auhor-name {
    margin: 0;
    margin-left: 50px;
    margin-bottom: 20px;

    font-size: 17px;

    order: 4;
  };
};
