.section {
  .container();
  background-color: @extra-backgroung-color;
};

.section__title {
  padding: 75px 0 80px 0;
  text-align: center;

  .black-title-text;
  font-size: 27px;
};

@media @tablet-widths {
  .section__title {
    padding: 105px 0 85px 0;

    .black-title-text-tablet;
  };
};

@media @desktop-widths {
  .section__title {
    padding: 102px 0 108px 0;
  };
};
