.section {
  .container();
  height: 178px;
};

.section__title {
  position: relative;
  padding: 75px 0 80px 0;

  .black-title-text;
  font-size: 27px;
  text-align: center;

  z-index: 100;

  &::after {
    position: absolute;
    content: "";

    top: 0;
    right: 0;

    width: 320px;
    height: 179px;

    background-color: @extra-backgroung-color;
    border-top: 1px solid @line-border-color;

    z-index: -100;
  };


};

@media @tablet-widths {
  .section {
    height: 165px;
  };

  .section__title {
    padding-top: 35px;

    .black-title-text-tablet;

    &::after {
      top: -66px;

      width: 768px;
      height: 230px;
    };
  };
};

@media @desktop-widths {
  .section {
    height: 200px;
  };

  .section__title {
    padding-top: 35px;

    .black-title-text-tablet;

    &::after {
      top: -66px;

      width: 1150px;
      height: 250px;
    };
  };
};
