.video-factory {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .container();
  width: 260px;
  margin-bottom: 60px;

  border: 1px solid @line-border-color;
};

.video-factory:hover {
  box-shadow: 0 5px 10px -2px @text-hover-active;
};

.video-factory:active {
  box-shadow: 0 3px 5px -2px @text-hover-active;
};

.video-factory__title {
  position: relative;
  padding: 24px 0;
  padding-left: 90px;

  .black-bold-text;
    &::before {
      position: absolute;
      content: "";
      top: 30px;
      left: 30px;

      width: 35px;
      height: 30px;

      background: url("../img/icon-video.svg") no-repeat;
    };
};

.video-factory__description {
  position: relative;

  padding: 0 35px;
  margin-bottom: 27px;

  font-size: 13px;
};

.video-factory__video {
  height: 150px;
  margin-bottom: 28px;

  background: url("../img/video-mobile@1x.jpg") no-repeat @blue-text-color;
  background-size: cover;
  background-position: center;

  @media @retina {
    background: url("../img/video-mobile@2x.jpg") no-repeat @blue-text-color;
    background-size: cover;
    background-position: center;
  };
};

.video-factory__play {
    position: absolute;
    content: "";
    top: 138px;
    left: 80px;

    width: 100px;
    height: 75px;

    border: none;
    background: url("../img/icon-play.svg") no-repeat;
    background-position: center;

    z-index: 100;
};

.video-factory .video-factory__play:hover {
  transform: scale(1.2);
};

.video-factory .video-factory__play:active {
  transform: scale(0.8);
  opacity: (0.7);
};

.video-factory__order {
  width: 188px;
  padding: 15px 0;
  margin: 0 35px;
  margin-bottom: 30px;
};


@media @tablet-widths {
  .video-factory {
    justify-content: flex-start;
    width: 668px;
    margin-bottom: 62px;
  };

  .video-factory__title {
    margin: 0;
    margin-top: 35px;
    padding: 0;
    padding-left: 105px;

    font-size: 20px;

    order: 2;

    &::before {
      top: -5px;
      left: 40px;
    };
  };

  .video-factory__description {
    margin: 0 40px;
    margin-top: 35px;
    padding: 0;


    font-size: 15px;
    line-height: 30px;

    order: 3;
  };

  .video-factory__video {
    margin: 0;
    height: 455px;
    width: 668px;

    background: url("../img/video-tablet@1x.jpg") no-repeat @blue-text-color;
    background-size: cover;
    background-position: center;

    @media (min-width: 768px) {
      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background: url("../img/video-tablet@2x.jpg") no-repeat @blue-text-color;
        background-size: cover;
        background-position: center;
      };
    };

    order: 1;
  };

  .video-factory .video-factory__play {
    top: 195px;
    left: 285px;
  };

  .video-factory__order {
    margin: 0 42px;
    margin-top: 35px;
    margin-bottom: 45px;
    width: 580px;

    order: 4;
  };
};

@media @desktop-widths {
  .video-factory {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 1050px;
    height: 454px;
    margin-top: 5px;
    margin-bottom: 105px;
  };

  .video-factory__title {
    width: 150px;
    margin: 0;
    margin-left: 80px;
    margin-top: 95px;
    margin-bottom: 35px;
    padding: 0;

    &::before {
      top: -55px;
      left: 0;
    };
  };

  .video-factory__description {
    margin: 0;
    margin-left: 80px;
    margin-bottom: 45px;
    width: 225px;
  };

  .video-factory__video {
    position: relative;

    margin: 0;
    height: 454px;
    width: 682px;

    background: url("../img/video-desktop@1x.jpg") no-repeat @blue-text-color;
    background-size: cover;
    background-position: center;

    @media (min-width: 1150px) {
      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background: url("../img/video-desktop@2x.jpg") no-repeat @blue-text-color;
        background-size: cover;
        background-position: center;
      };
    };
  };

  .video-factory .video-factory__play {
    top: 190px;
    left: 300px;
  };

  .video-factory__order {
    width: 226px;
    margin: 0;
    margin-left: 80px;
    margin-right: 55px;
    padding: 16px 0;
  };
};
